#wrapper { width: 200px; height: 190px; padding: 0; overflow: hidden;} 

#scaled-frame { width: 1000px; height: 800px; border: 0px; }

#scaled-frame 
{
    zoom: 0.2;
    
    -moz-transform: scale(0.2);
    
    -moz-transform-origin: 0 0;
    
    -o-transform: scale(0.2);
    
    -o-transform-origin: 0 0;
    
    -webkit-transform: scale(0.2);
    
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{
    #scaled-frame  { zoom: 1; }
}